{% for action in object_list %}
    {% include 'activity/action.html' %}
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% url action_recent %}?page={{ page_obj.previous_page_number }}" class="paginator-actstream">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% url action_recent %}?page={{ page_obj.next_page_number }}" class="paginator-actstream">next</a>
        {% endif %}
    </span>
</div>

